@model AirlineTicket
<div class="card-body">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Hotel  Create</h5>
    </div>
    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label class="form-label" asp-for="AirlineCompany"></label>
            <input  asp-for="AirlineCompany" class="form-control">
            <span class="text-danger" asp-validation-for="AirlineCompany"></span>

        </div>

        <div class="form-group">
            <label class="form-label" asp-for="FlightNumber">  </label>
            <input asp-for="FlightNumber" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="FlightNumber"></span>
        </div>


        <div class="mb-3">
            <label class="form-label" asp-for="DepartureAirport"></label>
            <select  class="form-control" name="depAirId[]">
                @foreach (Airport depAirport in ViewBag.DepatureAirport)
                {
                    <option value="@depAirport.Id">@depAirport.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="DepartureAirport"></span>
        </div>

         <div class="mb-3">
            <label class="form-label" asp-for="ArrivalAirport"></label>
            <select  class="form-control" name="arrAirId[]">
                @foreach (Airport arrAirport in ViewBag.ArrivalAirport)
                {
                    <option value="@arrAirport.Id">@arrAirport.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="ArrivalAirport"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="IsReturn">  </label>
            <input asp-for="IsReturn">
            <span class="text-danger" asp-validation-for="IsReturn"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="ReturnAirport"></label>
            <select class="form-control" name="reAirportId[]">
                @foreach (Airport reAirport in ViewBag.ReturnAirport)
                {
                    <option value="@reAirport.Id">@reAirport.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="ReturnAirport"></span>
        </div>

         <div class="mb-3">
            <label class="form-label" asp-for="TransferAirport"></label>
            <select  class="form-control" name="transAirId[]">
                @foreach (Airport transAirport in ViewBag.TransferAirport)
                {
                    <option value="@transAirport.Id">@transAirport.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="TransferAirport"></span>
        </div>

       

         <div class="mb-3">
            <label class="form-label" asp-for="SeatClass"></label>
            <select  class="form-control" name="flightCatId[]">
                @foreach (SeatClass seatClass in ViewBag.SeatClass)
                {
                    <option value="@seatClass.Id">@seatClass.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="SeatClass"></span>
        </div>

       <div class="form-group">

            <div style="display:flex">
                <div>
                    <label asp-for="DepartureDateTime">Departure- Flight Date:</label>
                    <input style="margin-left: 20px" asp-for="DepartureDateTime" type="date" id="flightDate" name="flightDate">
                    <span class="text-danger" asp-validation-for="DepartureDateTime"></span>

                </div>

                <div style="margin-left: 20px">
                    <label asp-for="DepartureDateTime"> Flight Time:</label>
                    <input  asp-for="DepartureDateTime" type="time" id="flightTime" name="flightTime">
                    <span class="text-danger" asp-validation-for="DepartureDateTime"></span>

                </div>
                <div style="margin-left: 50px">
                    <label asp-for="FlightDuration">Flight Duration Time:</label>
                    <input  asp-for="FlightDuration" type="time" id="flightTime" name="flightTime">
                    <span class="text-danger" asp-validation-for="FlightDuration"></span>

                </div>
            </div>
        </div>
       <div class="form-group">
            <div style="display:flex">
                <div style="margin-right: 20px">
                    <label asp-for="ArrivalDateTime">Arrival Flight Date:</label>
                    <input style="margin-left: 50px" asp-for="ArrivalDateTime" type="date" id="flightDate" name="flightDate">
                    <span class="text-danger" asp-validation-for="ArrivalDateTime"></span>

                </div>
                <div >
                    <label asp-for="ArrivalDateTime">Arrival Flight Time:</label>
                    <input asp-for="ArrivalDateTime" type="time" id="flightTime" name="flightTime">
                    <span class="text-danger" asp-validation-for="ArrivalDateTime"></span>

                </div>
              
            </div>
           
        </div>

        

        <div class="form-group">
            <label class="form-label" asp-for="TicketPrice"></label>
            <input asp-for="TicketPrice" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="TicketPrice"></span>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Handluggage"></label>
            <input asp-for="Handluggage" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Handluggage"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="HassBaggage"></label>
            <input asp-for="HassBaggage" >
            <span class="text-danger" asp-validation-for="HassBaggage"></span>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="BaggageAllowance"></label>
            <input asp-for="BaggageAllowance" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="BaggageAllowance"></span>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="FlightDescription"></label>
            <textarea asp-for="FlightDescription" type="text" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="FlightDescription"></span>
        </div>

          <div class="form-group">
            <label asp-for="FlightCode" class="form-label"></label>
            <input asp-for="FlightCode" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="FlightCode"></span>
        </div>
       <div class="mb-3">
            <label asp-for="HassMealService" class="form-label"></label>
            <input asp-for="HassMealService">
            <span class="text-danger" asp-validation-for="HassMealService"></span>
        </div>
          <div class="form-group">
            <label asp-for="MealDescription" class="form-label"></label>
            <textarea asp-for="MealDescription" type="text" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="MealDescription"></span>
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="index" class="btn btn-secondary text-white">Go Back</a>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}